<!DOCTYPE html>
<html lang="en">

<head>
  <%- include(/views/layout/head.ejs) %>
</head>

<body>
  <header>
    <%- include('/layout/header.ejs') %>
  </header>
  <main>
    ERROR
  </main>
  <footer>
    <%- include('layout/footer.ejs')
    </footer>
  </body>
</html>