<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head.ejs') %>
</head>

<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <h2>Search by Title or Author</h2>
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="enter author or title" id="search" required>
      <fieldset>
        <label>Title</label>
        <input type="radio" name="search" value="title" required>
      </fieldset>
      <fieldset>
        <label>Author</label>
        <input type="radio" name="search" value="author" required>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>

  </main>

</body>

</html>