<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Book App</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/base.css">
</head>

<body>
  <main>
    <h1>Hello Book Lovers!</h1>
  </main>
</body>

</html>