div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  }

h2{
      padding: 2vw;
      color: rgb(42, 20, 7);
      background-color: rgb(221, 179, 112);
}
   
ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(221, 179, 112);  
}
  
.bookboxes{
      border: solid .5vw black;
      padding: 5vw; 
      margin: 5vw;
      border-radius: .5%;
      
  }

.textbody{
      text-align: left;
      margin: 1vw;
      padding: 2vw;
    }
#title{
      text-align: center;
      font-size: larger;
      color: rgb(42, 20, 7);;
      text-shadow: rgb(109, 38, 38) .5px .5px;
  }
#author{
      text-align: center;
      font-style: italic;
  }
 
img{
      display: inline-block;
      margin: auto;
      padding: 3vw;
      padding-top: 3vw;
      border: solid rgb(221, 179, 112) .5vw;
  }

button{
      background-color: rgb(221, 179, 112);
      color: rgb(42, 20, 7);;
      margin: auto;
      padding: 1vw;
  }

input{
      background-color: rgb(221, 179, 112);
      color: rgb(42, 20, 7);;
      margin: 2vw;
      padding: 1vw;
      text-align: left;
      border: .5vw solid black;
      border-radius: 1%;
  }

fieldset{
      background-color: rgb(221, 179, 112);
      color: rgb(42, 20, 7);;
      margin: 2vw;
      padding: 1vw;
      text-align: left;
      border: solid rgb(42, 20, 7) .5vw;
      border-radius: 1%;
  }

label{
      background-color:  rgb(221, 179, 112);
  }

  .searchresults {
    border: rgb(221, 179, 112) solid;
  }
